.backg {
  background-image: url("http://www.scsualumni.net/images/background/header/crop-1668942531994.jpg?1702428316");
  color: #fff;
  text-align: left;
  padding: 60px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right top;
  display: flex;
  align-items: center;
}
